body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(/assets/images/KH-background);
    color: white;
}
ul { list-style: none; padding-left: 5px; }
a { color:rgb(255, 255, 255); text-decoration: none;}
.bar {
    background-color: transparent;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}
.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
    text-align: center;
}
.anchors {
    border-right: solid 1px #cdcdcd;

}
.sidebar {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
}
figure {
    text-align: center;
}
#primeiro-jogo-logo-main img{
    width: 70%;
    background-color: white;
}
img[src="https://upload.wikimedia.org/wikipedia/pt/0/0e/Kingdom_Hearts_coded.png"]{
    background-color: white;
}



@media screen and (max-width: 767px) {
    .content main img{
        width: 80% !important
    }
    .content{
        display:block;
    }
    .anchors {
        border-bottom: solid 1px #cdcdcd;
        border-right: none;
    
    }
}